%{template bk/header}%
      <article>
        <header>
          <h1>Support</h1>
        </header>

        <p>
          There are many ways to obtain support for PushDialer. First off, we
          recommend looking for answers to your questions in our
          <a href="http://pushdialer.com/faq.html">FAQ</a> and our
          <a href="http://support.pushdialer.com/">community support site</a>,
          hosted by Get Satisfaction.
        </p>

        <p>
          If you are unable to find the answer to your question, please feel
          free to use one of the following methods for support:
        </p>

        <section id="twitterSupport">
          <header>
            <h1>Send Us a Tweet or Direct Message on Twitter</h1>
          </header>
          <p>
            If your question is simple and fits in 140 characters or less,
            please send a tweet or direct message to
            <a href="http://twitter.com/PushDialer">@PushDialer</a> on
            Twitter. This is the fastest way for us to provide answers to you.
            We try to respond to inquiries on Twitter within 24 hours.
          </p>
        </section>

        <section id="emailSupport">
          <header>
            <h1>Send Us an E-mail</h1>
          </header>
          <p>
            If your question or issue is more complicated than is suitable for
            Twitter, feel free to e-mail us at
            <a href="mailto:support@pushdialer.com">support@pushdialer.com</a>.
            We try to respond to all e-mails within 24 to 48 hours, but please
            be patient on weekends and around holidays.
          </p>
        </section>

        <section id="getSatisfaction">
          <header>
            <h1>Participate on Get Satisfaction</h1>
          </header>
          <p>
            If you have a feature request or would prefer to take your issue
            to our community, you may use our
            <a href="http://support.pushdialer.com/">community support site</a>
            hosted by Get Satisfaction. We may not always answer questions
            posted to this site in a timely fashion, so if your question or
            issue is urgent, please e-mail or send a tweet to us first.
          </p>
        </section>

      </article>

%{template bk/footer}%