<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="%{CSS_URL}%common.css" type="text/css" />
<title>管理区域</title>
</head>

<body>
<div id="man_zone">	
	<table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
		<tr>
			<td width="20%" class="left_title_1">标题</td>
			<td width="10%" class="left_title_1">作者</td>
			<td width="10%" class="left_title_1">类型</td>
			<td width="10%" class="left_title_1">时间</td>
			<td width="10%" class="left_title_1">访问人数</td>
			<td width="10%" class="left_title_1">留言人数</td>
			<td class="left_title_1">管理</td>
		</tr>
	%{loop $all_speak $one_speak}%
		<tr>
			<td  class="left_title_2">%{$one_speak->title}%</td>
			<td  class="left_title_2">%{$one_speak->author}%</td>
			<td  class="left_title_2">%{php echo $type[$one_speak->type];}%</td>
			<td  class="left_title_2">%{$one_speak->ctime|ftime:Y-m-d}%</td>
			<td  class="left_title_2">%{$one_speak->call_num}%</td>
			<td  class="left_title_2">%{$one_speak->leave_num}%</td>
			<td>
				<a href="%{$one_speak->id|make_url:admin:speak:edit_speak}%">编辑</a>|
				<a href="%{$one_speak->id|make_url:admin:speak:show_all_speak}%?page=%{$page}%">删除</a>
			</td>
		</tr>
	%{/loop}%
	</table>
	<p>%{$page_html}%</p>
</div>
</body>
</html>
%{if !empty($alert_info)}%
<script type="text/javascript">
<!--
	alert("%{$alert_info}%");
//-->
</script>
%{/if}%
