	%{template member/header}%
		<form accept-charset="UTF-8" action="%{'find_password'|make_url:member}%" id="new_session" method="post">
				<div class="signuploginbg">
					<div class="signuplogin">
						<div class="left">
							<ul class="siglog">
								<li class="linh2">
									<span>没有趣友街帐号？<a href="%{$_USER.user_regist_url}%">%{$lang.regist_title}%</a></span>
									%{$lang.login_title}%
								</li>
								%{if $step == 0}%
								<li class="zhuseremail">
									<div id="useremail" class="inputboxes useremail">
										<label for="user_email" style="display: none; ">注册的邮箱</label>
										<input id="user_email" name="user_email" value="" autocomplete="off">
									</div>
								</li>
								%{elseif $step == 1}%
								<li>
									<div id="userpassword" class="inputboxes userpassword">
										<label for="user_password" style="display: block; ">新密码</label>
										<input type="password" id="user_password" name="user_new_password" value="" autocomplete="off">
										<span id="user_password_error"></span>
									</div>
								</li>
								%{/if}%
								<li class="find_password">
									<div><input type="submit" value="找回密码"><span></span></div>
								</li>
							</ul>
						</div>
					<div class="right">
						<ul class="siglog">
							<li class="linh2">快速通过微博帐号登录</li>
							<li class="weibodl">
								<a href="%{''|make_url:member:thirdlogin:renren}%" rel="nofollow"><img src="%{IMAGES_URL}%renren.png" title="人人网"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</form>
%{template member/footer}%
	%{if !empty($alert_info)}%
		<script type="text/javascript">
			<!--
				alert("%{$alert_info}%");
			//-->
		</script>
	%{/if}%