	%{template member/header}%
	<div class="topshow">
			<div class="topshowmenu">
				<div class="topshowtitle">我的趣友街</div>
					<ul class="topmenutabs">
						<li><a %{if $type == 0}% class="current" %{/if}% href="%{''|make_url:member:me}%" title="个人资料">个人资料</a> </li>
						<li><a %{if $type == 1}% class="current" %{/if}% href="%{''|make_url:member:password}%" title="密码修改">密码修改</a></li>
						<li><a %{if $type == 2}% class="current" %{/if}% href="%{''|make_url:member:message}%" title="我的消息">我的消息</a></li>
						<li><a %{if $type == 3}% class="current" %{/if}% href="%{''|make_url:member:friends}%" title="我的好友">我的好友</a></li>
					</ul>
				</div>
			</div>

		<div class="content">
			<div class="message_type">
				<span %{if $message_type ==0}%class="d"%{/if}%><a href="?type=0">系统信息</a></span>
				<span %{if $message_type ==1}%class="d"%{/if}%><a href="?type=1">发件箱</a></span>
				<span %{if $message_type ==2}%class="d"%{/if}%><a href="?type=2">收件箱</a></span>
			</div>
			<ul class="gerenleft">
			%{if empty($user_all_message)}%
				<li>你还没有相关的信息</li>
			%{else}%
				%{loop $user_all_message $one_message}%
					<li>
						%{if $one_message->send_user_id == 0}%
							<img src="%{IMAGES_URL}%system.gif" alt="">
							系统消息:
							<a href='%{$one_message->id|make_url:member:message}%'>
								%{$one_message->title}%
							</a>
						%{elseif ($one_message->send_user_id == $_USER.user_id)}%
							<img src="%{IMAGES_URL}%1.gif"  alt="">
							你%{if empty($one_message->replay_id)}%发给%{else}%回复%{/if}%%{$one_message->accept_user_name}%的消息:
							<a href='%{$one_message->id|make_url:member:message}%'>%{$one_message->title}%</a>
						%{else}%
							<img src="%{IMAGES_URL}%%{$one_message->is_look}%.gif" alt="">
							%{$one_message->send_user_name}%%{if empty($one_message->replay_id)}%发给%{else}%回复%{/if}%你的信息:
							<a href='%{$one_message->id|make_url:member:message}%'>%{$one_message->title}%</a>
						%{/if}%
						<span style="float:right;">
							%{$one_message->ctime|ftime:Y-m-d H:i:s}%&nbsp;&nbsp;&nbsp;
							<a href="?delete=%{$one_message->id}%">
								<img src="%{IMAGES_URL}%del.gif" width="16" height="16" alt="删除">
							</a>
						</span>
					</li>
				%{/loop}%
			%{/if}%
			</ul>
		</div>
		<div class="none" id="blog">
			<div class="url new">
				<input class="inputregoff" onfocus="this.className=&#39;inputregon&#39;" onblur="this.className=&#39;inputregoff&#39;" size="30" type="text" name="user_blogs[]" value="">
				<a href="#more" class="add remove_blog">删除</a>
			</div>
		</div>
%{template member/footer}%