	%{template member/header}%
	<div class="topshow">
			<div class="topshowmenu">
				<div class="topshowtitle">我的趣友街</div>
					<ul class="topmenutabs">
						<li><a %{if $type == 0}% class="current" %{/if}% href="%{''|make_url:member:me}%" title="个人资料">个人资料</a> </li>
						<li><a %{if $type == 1}% class="current" %{/if}% href="%{''|make_url:member:password}%" title="密码修改">密码修改</a></li>
						<li><a %{if $type == 2}% class="current" %{/if}% href="%{''|make_url:member:message}%" title="我的消息">我的消息</a></li>
						<li><a %{if $type == 3}% class="current" %{/if}% href="%{''|make_url:member:friends}%" title="我的好友">我的好友</a></li>
					</ul>
				</div>
			</div>
		<div class="content">
			<form accept-charset="UTF-8" action="%{''|make_url:member:password}%" class="edit_user" id="edit_profile" method="post">
				<ul class="gerenleft">
					<li class="change_password">
						<label>原密码:</label>
							<input class="inputregoff" id="user_origin_password" name="password" onblur="this.className=&#39;inputregoff&#39;" onfocus="this.className=&#39;inputregon&#39;" size="30" type="password">
							%{if !empty($password_error)}%<em class="a001">%{$password_error}%</em>%{/if}%
					</li>
					<li class="change_password change_passwordss">
						<label>新密码:</label>
						<input class="inputregoff" id="user_password" name="new_password" onblur="this.className=&#39;inputregoff&#39;" onfocus="this.className=&#39;inputregon&#39;" size="30" type="password">
						%{if !empty($new_password_error)}%<em class="a001">%{$new_password_error}%</em>%{/if}%
						<span>至少需要6个字符</span>
					</li>
					<li class="change_password">
						<label>确认密码:</label>
						<input class="inputregoff" id="user_password_confirmation" name="re_password" onblur="this.className=&#39;inputregoff&#39;" onfocus="this.className=&#39;inputregon&#39;" size="30" type="password">
						%{if !empty($re_password_error)}%<em class="a001">%{$re_password_error}%</em>%{/if}%
						<span>必须与上吻合</span>
					</li>
				</ul>
				<div class="form-submit">
					<div id="confirm_button" class="ui-button-green">
						<span>
							<button type="submit" class="ui-button">保存最新的设置</button>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="none" id="blog">
			<div class="url new">
				<input class="inputregoff" onfocus="this.className=&#39;inputregon&#39;" onblur="this.className=&#39;inputregoff&#39;" size="30" type="text" name="user_blogs[]" value="">
				<a href="#more" class="add remove_blog">删除</a>
			</div>
		</div>
%{template member/footer}%