#------------- .htaccess ----------------

RewriteEngine On
RewriteBase /
RewriteRule ^([^\.]*)$ index.php
RewriteRule ^[^j][^s]([^\.]*\.html)$ index.php
#------------- .htaccess ----------------
