<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理区域</title>
</head>
<body>
	<div id="man_zone">
		<ul>
			%{loop $index_nav $index_nav_id $index_nav_value}%
				<li>
					<form method="post" action="?">
						<input type="hidden" name="index_nav_id" value="%{$index_nav_id}%">
						%{$index_nav_value}%&nbsp;&nbsp;对应:
							<select name="type_id">
								%{loop $type $type_id $type_value}%
									<option value="%{$type_id}%" %{if $index_nav_type.$index_nav_id == $type_id}%selected%{/if}%>%{$type_value}%
								%{/loop}%
							</select>
						<input type="submit" value="修改">
					</form>
				</li>
			%{/loop}%
		</ul>
	</div>
</body>