<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理区域</title>
</head>
<body>
<div id="man_zone">
	<ul>
		%{loop $type $type_id $type_value}%
			<li>%{$type_value}%&nbsp;&nbsp;<a href="?del=%{$type_id}%">[X]</a></li>
		%{/loop}%
	</ul>
	<h3>修改</h3><hr/>
	<form method="post" action="?">
		类型:<select name="type_id">
			%{loop $type $type_id $type_value}%
				<option value="%{$type_id}%">%{$type_value}%
			%{/loop}%
		</select>
		修改成---->
		<input type="text" name="new_type">
		<input type="submit" value="修改">
	</form>
	<h3>添加</h3><hr/>
	<form method="post" action="?">
		<input type="text" name="type">
		<input type="submit" value="添加">
	</form>
</div>
</body>