/* 容器 */
.w1160{margin:8px auto;clear:both}
.in-box{border:1px solid #DDD;border-top:6px solid #333}
/* 高度 */
.h415{height:415px}
/* 特效8块 */
.js-tx {width:420px;height:196px;float:left;margin:0 8px 40px 40px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;position:relative;background-color:white;}
.js-tx dt{height:40px;background:url(/images/know/js.png) no-repeat;background-color:white;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.js-tx dt a{float:right;margin:12px;color:#666}
.js-tx dd{width:260px;height:18px;background:url(/images/know/a.png) no-repeat -178px -67px;line-height:18px;float:right;padding-left:20px;overflow:hidden;margin:9px 9px 1px}
.js-tx dd a{color:#333;display:block}
.js-tx dd a:hover{color:#390;text-decoration:underline}
.js-tx p{width:100px;height:100px;background:url(/images/know/js.png);position:absolute;left:20px;top:50px;cursor:pointer}
.tx-0{background:url(/images/js.png) no-repeat 0 -480px}
.tx-1 dt{background-position:0 -520px}
.tx-1 p{background-position:0 0}
.tx-2 dt{background-position:0 -560px}
.tx-2 p{background-position:-100px 0}
.tx-3 dt{background-position:0 -600px}
.tx-3 p{background-position:0 -100px}
.tx-4 dt{background-position:0 -640px}
.tx-4 p{background-position:-100px -100px}
.tx-5 dt{background-position:0 -680px}
.tx-5 p{background-position:0 -200px}
.tx-6 dt{background-position:0 -720px}
.tx-6 p{background-position:-100px -200px}
.tx-7 dt{background-position:0 -760px}
.tx-7 p{background-position:0 -300px}
.tx-8 dt{background-position:0 -800px}
.tx-8 p{background-position:-100px -300px}
.clear{clear:both;}
