.left_nav{
	float:left;
	width:100px;
	padding-right:10px;
	padding-left:10px;
	padding-top:20px;
	background-color: #DFDFDF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:white;
}
.left_nav ul{
	list-style: none;
}
.left_nav li{
	margin-top:50px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.left_nav .selected{
	background-color:#EAEAEA;
}
.right_content{
	float:left;
	width:80%;
	margin-left:10px;
	padding-left:20px;
	border-left:1px solid #D0D0D0;
	background-color: #DFDFDF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:white;
	padding-right:30px;
	padding-bottom:10px;
}
.right_content li{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px #D0D0D0 dashed;
}