<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>%{SITE_NAME}%</title>
<meta name="keywords" content="趣友街,趣友,www.quyoujie.com,趣友街团队,中国矿业大学,数字化校园,矿大数字化校园" />
<meta name="description" content="趣友街网站是以服务学生为宗旨，采用网络虚拟化大学生校园的方法，虚拟大学生周围的生活学习环境，为大学生提供更加方便快捷的服务，我们网站做到更加本地化，更加人性化，网站项目更加的贴近大学生的生活，为大学打造一个学习和生活的网络平台。" />
<link href="%{CSS_URL}%style.css" rel="stylesheet" type="text/css" />
<link href="%{CSS_URL}%base.css" rel="stylesheet" type="text/css" />
<script src="%{JS_URL}%jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="%{JS_URL}%scripts.js" type="text/javascript"></script>
</head>

<body>
<div id="content">
<div id="main">
	<a href="#" id="black_car"><img src="%{IMAGES_URL}%black_car.png" /></a>
    <a href="#" id="pink_car"><img src="%{IMAGES_URL}%pink_car.png" /></a>
	<a href="%{''|make_url:action}%" id="activities"><img src="%{IMAGES_URL}%activities.png"  /></a>
   	<a href="%{''|make_url:photo}%" id="spring"><img src="%{IMAGES_URL}%spring.png"  /></a>
   	<a href="#" id="blog"><img src="%{IMAGES_URL}%blog.png"  /></a>
    <img src="%{IMAGES_URL}%sign.png"  id="sign"/>
    <div class="tips" id="activ_tip">
    	<p>
			<h1>
				<center>
					提供最新的校园活动
				</center>
			</h1>
			<br>
			将校园活动网络化,将兴趣爱好平台化,以校园活动为基础,以为网络为平台,扩大活动的影响力，提高学生的参与度,让大学生的生活不再寂寞。
		</p>
    </div>
    <div class="tips" id="spring_tip">
    	<center>
				<h1>炫动青春 爱趣友街</h1><br>
				春季照片展网络赛,青春无极限,<br>
				春季我们云游四海,抑或驻足校园,<br>
				定格美丽的瞬间,记录青春的点点滴滴,<br>
				描绘这片醉人春意。
			</center>
    </div>
    <div class="tips" id="blog_tip">
    	<p>
			<center><h1>青春有我 爱趣友街</h1></center><br>
			趣友街团队成立于2011年12月,是目前徐州最大兴趣类服务平台提供商之一,也是矿大服务用户最多的互联网网站之一,趣友街一直秉承“为知识群体构建最好的兴趣服务平台”的团队理念,始终处于稳健发展的状态。
		</p>
    </div>
    <ul>
    	<li>活动</li>
        <li>|</li>
        <li>春季图片展</li>
        <li>|</li>
        <li>团队博客</li>
        <li>|</li>
        <li>广告合作</li>
    </ul>
</div>
<div id="back"></div>
</div>
</body>
</html>
