<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>index3</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="%{CSS_URL}%index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<div id="logo">
		<img src="%{IMAGES_URL}%logo.gif" width="134" height="74" border="0" alt="">
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">首页</a></li>
            <li><a href="/action">活动</a></li>
            <li><a href="/photo">图片展</a></li>
		</ul>
	</div>
	<div id="login">
		%{if !empty($user_logout_url)}%
				<li>你好&nbsp;<a href="%{''|make_url:member:me}%"><b>%{$user_name}%</b></a>|</li>
				<li><a href="%{''|make_url:action:me}%"><b>我的活动</b></a>|</li>
		%{else}%
			<a href="%{$user_login_url}%">登陆</a>
			<a href="%{$user_regist_url}%">注册</a>
		%{/if}%

    </div>
	<div id="search">
		<form method="post" action="">
			<input type="text" name="" value="search">
			<input type="submit" value="">
		</form>
	</div>
	<div class="clear">	</div>
</div>
<div id="mian">
	<div id="plank">
		<div>
			<img src="%{IMAGES_URL}%plank_top.jpg" width="960" height="66" border="0" alt="">
		</div>
		<div id="plank_center">
			<div class="left"><img src="%{IMAGES_URL}%plank_left.jpg" width="122" height="198" border="0" alt=""></div>
			<div class="content">
				<div class="hd">
					%{if isset($top_actions.0)}%
						<span><h3><a href="%{$top_actions.0->id|make_url:action:display}%">%{$top_actions.0->action_name}%</a></h3></span>
						<span>时间:%{$top_actions.0->action_time_str}%</span>
						<span>地点:%{$top_actions.0->action_address}%</span>
						<span>类型:%{$top_actions.0->action_type_name}%</span>
						<span>发起人:%{$top_actions.0->action_publisher_name}%</span>
					%{else}%
						<span></span>
					%{/if}%
				</div>
				<div>
					<img src="%{IMAGES_URL}%plank_center_1.jpg" width="47" height="198" border="0" alt="">
				</div>
				<div class="hd">
					%{if isset($top_actions.1)}%
						<span><h3><a href="%{$top_actions.1->id|make_url:action:display}%">%{$top_actions.1->action_name}%</a></h3></span>
						<span>时间:%{$top_actions.1->action_time_str}%</span>
						<span>地点:%{$top_actions.1->action_address}%</span>
						<span>类型:%{$top_actions.1->action_type_name}%</span>
						<span>发起人:%{$top_actions.1->action_publisher_name}%</span>
					%{else}%
						<span></span>
					%{/if}%
				</div>
				<div>
					<img src="%{IMAGES_URL}%plank_center_2.jpg" width="45" height="198" border="0" alt="">
				</div>
				<div class="hd">
					%{if isset($top_actions.2)}%
						<span><h3><a href="%{$top_actions.2->id|make_url:action:display}%">%{$top_actions.2->action_name}%</a></h3></span>
						<span>时间:%{$top_actions.2->action_time_str}%</span>
						<span>地点:%{$top_actions.2->action_address}%</span>
						<span>类型:%{$top_actions.2->action_type_name}%</span>
						<span>发起人:%{$top_actions.2->action_publisher_name}%</span>
					%{else}%
						<span></span>
					%{/if}%
				</div>
				<div>
					<img src="%{IMAGES_URL}%plank_center_3.jpg" width="49" height="198" border="0" alt="">
				</div>
				<div class="hd">
					%{if isset($top_actions.3)}%
						<span><h3><a href="%{$top_actions.3->id|make_url:action:display}%">%{$top_actions.3->action_name}%</a></h3></span>
						<span>时间:%{$top_actions.3->action_time_str}%</span>
						<span>地点:%{$top_actions.3->action_address}%</span>
						<span>类型:%{$top_actions.3->action_type_name}%</span>
						<span>发起人:%{$top_actions.3->action_publisher_name}%</span>
					%{else}%
						<span></span>
					%{/if}%
				</div>
			</div>
			<div class="right"><img src="%{IMAGES_URL}%plank_right.jpg" width="129" height="198" border="0" alt=""></div>
			<div class="clear">	</div>
		</div>
		<div>
			<img src="%{IMAGES_URL}%plank_bottom.jpg" width="960" height="60" border="0" alt="">
		</div>
	</div>
	<div>
		<div id="c_left">
			<div class="left_nav">
				<ul>
					<li %{if $type==-1}%class="t" %{/if}%><a href="%{''|make_url:action:index}%">全部活动</a></li>
					%{loop $action_types $type_id $type_name}%
						<li %{if $type==$type_id}% class="t" %{/if}%><a href="%{$type_id|make_url:action:index}%">%{$type_name}%</a></li>
					%{/loop}%
					<li><a href="%{'look'|make_url:action}%">随便看看</a></li>
				</ul>
			</div>
			
			<div id="c_left">
				<div class="content_top">
					<img src="/images/action/right_head_bg.jpg" width="11" height="14" border="0" alt="">
				</div>
				<div class="left_content">
					%{loop $center_actions $action}%
						<div class="center_action">
							<div class="action_logo">
								<img src="%{$action->action_logo}%" alt="">
							</div>
							<div class="action_info">
								<span><h3><a href="%{$action->id|make_url:action:display}%">%{$action->action_name}%</a></h3></span>
								<span>时间:%{$action->action_time_str}%</span>
								<span>地点:%{$action->action_address}%</span>
								<span>类型:<a href="%{$action->action_type_id|make_url:action:index}%">%{$action->action_type_name}%</a></span>
								<span>发起人:<a href="%{$action->action_publisher_id|make_url:action:user}%">%{$action->action_publisher_name}%</a></span>
							</div>
						</div>
					%{/loop}%
					<div class="clear">	</div>
				</div>
				<div class="content_bottom">
					<img src="/images/action/bottom_head_bg.jpg" width="19" height="12" style="float:left;" alt="">
					<img src="/images/action/bottom_foot_bg.jpg" width="20" height="12" style="float:right;margin-right:1px;" alt="">
				</div>
			</div>
		</div>
		<div id="c_right">
			<div class="right_head">
				<a href="%{'add'|make_url:action}%">我要发布活动</a>
			</div>	
			<div class="right_body_content">
				<div class="content_top">
					<img src="%{IMAGES_URL}%right_head_bg.jpg" width="11" height="14" border="0" alt="">
				</div>
				<div class="tag"></div>
				%{loop $users_new_action_info $user_action_info}%
				<div class="right_var_contents">
					<div class="right_var_content">
						<img src="%{$user_action_info->user_id|get_user_avatar:small}%" width="48" height="48" border="0" alt="">
						<span><a href="%{1|make_url:action:publisher:{$user_action_info->user_id}}%">%{$user_action_info->user_name}%</a></span>
						<span>有<a href="">%{$user_action_info->new_action_num}%个活动</a>在进行</span>
						<div class="clear">	</div>
					</div>
				</div>
				%{/loop}%
				<div class="content_bottom">
					<img src="%{IMAGES_URL}%bottom_head_bg.jpg" width="19" height="12" style="float:left;" alt="">
					<img src="%{IMAGES_URL}%bottom_foot_bg.jpg" width="20" height="12" style="float:right;margin-right:1px;" alt="">
				</div>
			</div>
		</div>
		<div class="clear">	</div>
	</div>
</div>
</body>
</html>